:root{
    --text-color-1: #343434;
    --linear-1: linear-gradient(to right, #25AAE1, #40E495, #30DD8A, #2BB673);
    --linear-2: linear-gradient(90deg, rgba(43,203,29,1) 0%, rgba(83,109,201,1) 75%);
    --linear-3: linear-gradient(90deg, rgba(217,68,21,1) 0%, rgba(201,248,15,1) 75%);
    --linear-4: linear-gradient(90deg, rgba(217,68,21,1) 0%, rgba(201,248,15,1) 75%);
    --linear-5: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(154,3,30,1) 61%);
    --linear-6: linear-gradient(0deg, rgba(83,109,201,1) 0%, rgba(43,203,29,1) 75%);
    --linear-7: linear-gradient(0deg, rgba(29,203,203,1) 0%, rgba(201,84,196,1) 75%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Fun',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.header{
    height: 5.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 0 .9375rem 0 rgba(0,0,0,0.4);
}

.header .navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

ul li{
    padding: 0 1rem;
    list-style-type: none;
}

.navBar a{
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 1.1rem;
    font-weight: 500;
}

.navBar .contact{
    padding: .6rem .8rem;
    background-image: var(--linear-1);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
}

.navBar .contact:hover{
    background-position: 100% 0;
}